*,
*::before,
*::after {
  box-sizing: border-box;
}
.label {
  font-weight: bold;
}
.container {
  border-radius: 5px;
  padding: 50px;
}
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
