<li>
    {{burger_name}}
    <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
        {{#if devour}}  {{/if}} Devour burger
    </button>
    <button class="del-btn" data-id="{{id}}">
        Throw away
    </button>
</li>